# ignore stuffs
*.o
*.log
.*
*.kdev4
ppmtoinfo
executecmd
amiwm
workbench
requestchoice
setup
Launcher
Keyboard
Filesystem
viewer
reqasl
menutest
src/**/*.a

# don't ignore these files
!.gitignore
!.Xdefaults

